doctype html
html(lang="en")
  head
   include ../includes/head.pug
  body
  link(href='css/main.css', rel='stylesheet')
  .jumbotron.text-center
      hr.my-3
      hr.my-3
      hr.my-3
      hr.my-3
      hr.my-3
      hr.my-3
      hr.my-3
      hr.my-3
      hr.my-3
      h1.display-1 404.
      p.lead.display-6 You lost in worng way!.
      hr.my-4
      a.btn.btn-danger(href='/' aria-pressed="true") Return Home.